<ion-view view-title="Login" class="login-page">
  <ion-header-bar class="header"><h1>PHARMAPP</h1></ion-header-bar>
  <ion-content class="login-field">
  <h2 class="title">АВТОРИЗАЦИЯ</h2>
  <p class="title-2">Для входа в приложение заполните соответствующие поля</p>
    <form ng-submit="doLog()">
      <div class="list">
      <label class="item item-input field-login">
        <i class="icon ion-person placeholder-icon"></i>
        <input type="text" placeholder="Имя пользователя" ng-model="loginData.login" ng-focus="removeError()">
      </label>
        <div class="my-error"></div>
      
      <label class="item item-input field-password">
        <i class="icon ion-locked placeholder-icon"></i>
        <input type="password" placeholder="Пароль" ng-model="loginData.password" ng-focus="removeError()">
        <!-- <a class="button button-clear" on-tap="openRecov1()"><i class="icon ion-help placeholder-icon" style="width: 50px; z-index: 1000;"></i></a> -->
      </label>
        <div class="my-error"></div>
      <a ng-click="openRecov1()"><p class="title-2">Забыли пароль?</p></a>
      <button type="submit" class="button enter-button">ВХОД</button>
    </div>
  </form>
  </ion-content>
  <div class="bar bar-footer footer">
    <h2 class="" ng-click="openReg()">РЕГИСТРАЦИЯ</h2>
  </div>
</ion-view>


<!-- <ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view> -->
